{% extends "base.html" %}
{% load blog_tags %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
{% if message%}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script>
    Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: '{{message}}',
        showConfirmButton: false,
        timer: 1500
      })
</script>
{% endif %}
    <style>
                  .sav{
                      float:right;
                  }
                  .sav-edit{
                      float:right;
                      padding-right:10px;

                  }
                  .sav-delete{
                      float:right;
                      padding-right:10px;

                  }
                  .sh-blog-single-mete{
                      border-top: 1px solid #eaeaea;
                      border-bottom: 1px solid #eaeaea;
                      padding: 26px 0 24px;
                      margin: 0;
                  }
                  .kl {
                      width: inherit;
                      height: inherit;
                  }

                  
  </style>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% comment %} side bar {% endcomment %}
    {% include 'account/sidebar.html'%}
{% comment %} end side bar {% endcomment %}
<div id="content" class="p-4 p-md-5 pt-5">
<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{post.title}}
        <form action="/posts/watchlater" method="POST" class="sav">{% csrf_token %}
            <input type="hidden" name="post_id" value="{{post.id}}">
            <button type="submit" class="btn btn-outline-danger" id="submit_btn" data-original-title="Save">
            <i class="material-icons"></i> 
           </button>
        </form>
        
        {% if user.id == post.author.id %}
                  <a href="{% url 'posts:update_post' post.pk %}" class="edit sav-edit" title="" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="material-icons"></i>
                  </a>
                  <a href="{% url 'posts:delete_post' post.pk %}" class="delete sav-delete" title="" data-toggle="tooltip" data-original-title="Delete">
                                    <i class="material-icons"></i>
                  </a>
        {% endif %}
        </h1>
        <ul class="post-meta list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-user-circle-o"></i> <a href="#">{{ post.author }}</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar-o"></i> <a href="#">{{ post.publish }}</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                        </li>
          </ul>
          <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded kl" id="myImg" src="{{post.avatar.url}}" alt="">
        {% comment %}  {% endcomment %}
        <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
        {% comment %}  {% endcomment %}
        <hr>

        <!-- Post Content -->
        <p class="lead">{{ post.body|markdown }}</p>

        <hr>
        <div class="row">
            <div class="col-lg-6">
                <form action="{% url 'posts:like_post' post.pk %}" method="POST">{% csrf_token %}
                {% if liked %}
                    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btm-sm">Unlike 
                    </button>
                {% else %}
                    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btm-sm">like 
                    </button>
                {% endif %}
                    {% comment %} Likes {{total_likes}} {% endcomment %}
                </form>

            </div>
            <div class="col-lg-6" >
              <form action="{% url 'posts:dislike_post' post.pk %}" method="POST">
                {% csrf_token %}
                {% if disliked %}
                    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger btm-sm" style="float:right;">UnDislike 
                    </button>
                {% else %}
                    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary btm-sm" style="float:right;">Dislike 
                    </button>
                {% endif %}
                    {% comment %} DisLikes {{total_dislikes}} {% endcomment %}
                </form>
            </div>
        </div>
        
        <hr>
        

        <div class="row">
                <div class="col-lg-6">
                    {% if next_article %}
                    <div class="col-auto mr-auto">
                    <a  href="{{ next_article.get_absolute_url }}" 
                        class="btn btn-info"
                        >
                        {{ next_article.title }}
                    </a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6" >
                    {% if pre_article %}
                     <div class="col-auto" style="float:right;">
                        <a  href="{{ pre_article.get_absolute_url }}" 
                              class="btn btn-info" 
                         >
                        {{ pre_article.title }}
                       </a>
                     </div>
                    {% endif %}
                </div>
            </div>

        <!-- Comments Form -->
        {% if user.is_authenticated %}
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
                    <form action="{% url 'posts:post_comment' post.id %}" method="POST">
                         {{ post_form.media }}
                         {% csrf_token %}
                        <div class="form-group">
                            <label for="body">
                            </label>
                            <br>
                        <div>
                                {{ comment_form.media }}
                                {{ comment_form.body }}
                        </div>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary ">send</button>                    
                    </form>
          </div>
        </div>
        {% else %}
        <br>
        <h5 class="row justify-content-center">
               please<a href="{% url 'account:login' %}">log in</a>Reply later
        </h5><br>
        {% endif %}

        <!-- Single Comment -->
    <!-- Show comments -->
   {% load mptt_tags %}
   <h4>Share {{ comments.count }} Comments</h4>
        
        <div class="media mb-4">
          <div class="media-body">
                                    <!-- Traverse the tree structure -->
     {% recursetree comments %}
        {% with comment=node %}
          <div class="{% if comment.reply_to %}offset-1 col-11
        {% else %}
           col-12
        {% endif %}">
    <hr>
    <p>
     <strong style="color: pink">{{ comment.user }}</strong> 
        <!-- Show respondent -->
        {% if comment.reply_to %}
          <i class="far fa-arrow-alt-circle-right" style="color: cornflowerblue;"></i>
            <strong style="color: pink">{{ comment.reply_to }}</strong> 
        {% endif %}
    </p>
      <div>   
          {{ comment.body|safe }}
          {% comment %}  protect data from other users {% endcomment %}
          {% if request.user == comment.user %} 
              <a href="{% url 'posts:edit-comment' comment.id %}">Edit</a>
              <form method="post" action="{% url 'posts:delete-comment' comment.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit">Delete</button>
              </form>
          {% endif %}
    
      </div>
    <div>
      <span style="color: gray">{{ comment.created|date:"Y-m-d H:i" }}</span>
      <!-- modal  -->
     <button type="button"class="btn btn-light btn-sm text-muted" 
        onclick="load_modal({{ post.id }}, {{ comment.id }})">
         Reply
     </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="comment_{{ comment.id }}" tabindex="-1" role="dialog" 
       aria-labelledby="CommentModalCenter"aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="height: 480px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Reply {{ comment.user }}：</h5>
                </div>
                <div class="modal-body" id="modal_body_{{ comment.id }}"></div>
            </div>
        </div>
    </div>

    {% if not comment.is_leaf_node %}
     <div class="children">{{ children }}</div>
    {% endif %}
    </div>
    {% endwith %}
    {% endrecursetree %}

            

            

          </div>
        </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
      {% comment %} share post {% endcomment %}
      <div class="card my-4">
          <h5 class="card-header">Share posts</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                        <a href="{% url "posts:post_share" post.id %}">
                                    Share this post
                    </a>
              </div>
            </div>
          </div>
        </div>
        {% comment %} category {% endcomment %}
        <div class="card my-4">
          <h5 class="card-header">Category</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                  <a href="{% url 'posts:category' post.category %}"> {{ post.category }} </a>
              </div>
            </div>
          </div>
        </div>
    
  
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Similar posts</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for post in similar_posts %}
                  <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                  </li>
                  {% empty %}
                  <li>
                    There are no similar posts yet.
                </li>
                  {% endfor %}
                </ul>
              </div>
              
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Like Dislike Views</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    Likes:{{total_likes}}
                  </li>
                  <li>
                    DisLikes:{{total_dislikes}}
                  </li>
                  <li>
                    Views: {{post.total_views}}
                  </li>
                </ul>
                </div>
                <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    <li>
                        Unique Visitor:{{post.total_visitors}}
                    </li>
                    <li>
                    
                        {{visitor_counter}}
                    
                    </li>
                </ul>
                </div>
            
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>  
</div>
<script>

{% comment %} likes---------------- {% endcomment %}
function validate_is_like(url, id, likes) {
        // Retrieve the data in LocalStorage
        let storage = window.localStorage;
        const storage_str_data = storage.getItem("my_blog_data");
        let storage_json_data = JSON.parse(storage_str_data);
        // If the data does not exist, create an empty dictionary
        if (!storage_json_data) {
            storage_json_data = {}
        };
        // Check whether the current article has been liked. If yes, status = true
        const status = check_status(storage_json_data, id);
        if (status) {
            layer.msg('You already liked it~');
            // If you like, exit the function immediately
            return;
        } else {
            // Use Jquery to find the number of likes and +1
            $('span#likes_number').text(likes + 1).css('color', '#dc3545');
        }
        // Use ajax to send post requests to the backend
        $.post(
            url,
            // post is only for csrf verification, so the data is empty
            {},
            function(result) {
                if (result === 'success') {
                    // try to modify the like data
                    try {
                        storage_json_data[id] = true;
                    } catch (e) {
                        window.localStorage.clear();
                    };

                    const d = JSON.stringify(storage_json_data);
                    // Try to store like data to LocalStorage
                    try {
                        storage.setItem("my_blog_data", d);
                    } catch (e) {
                        // code 22 The error means that LocalStorage is full
                        if (e.code === 22) {
                            window.localStorage.clear();
                            storage.setItem("my_blog_data", d);
                        }
                    };
                } else {
                    layer.msg("Failed to communicate with the server.. try again later~");
                }

            }
        );
    };
    // Auxiliary like main function to verify like status
    function check_status(data, id) {
        // Try to check like status
        try {
            if (id in data && data[id]) {
                return true;
            } else {
                return false;
            }
        } catch (e) {
            window.localStorage.clear();
            return false;
        };
    };
{% comment %} -------------likes-------------- {% endcomment %}
function post_reply_and_show_it(new_comment_id) {
        let next_url = "{% url 'posts:post_detail' post.id %}";
        // Remove the'/' symbol at the end of the url
        next_url = next_url.charAt(next_url.length - 1) == '/' ? next_url.slice(0, -1) : next_url;
        // Refresh and position to anchor
        window.location.replace(next_url + "#comment_elem_" + new_comment_id);
    };


// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}





</script>
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script> 
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">

</div>
{% endblock %}





    

