{% load thumbnail %}
<ul>
    {% for f in following %}
    {% if f.first_name or f.last_name %}
    <li><a href="{% url 'posts:user_detail' f.username %}">{{ f.first_name }} {{ f.last_name }}</a>
    <img src="{% thumbnail f.profile.photo 180x180 %}" class="user-detail">
    <a href="{% url 'posts:follower_remove' f.username %}" ><i class="fas fa-cross   "></i> remove</a>
    



    </li>
    
    {% else %}
    <li><a href="{% url 'posts:user_detail' f.username %}">{{ f.username }}</a>
    <img src="{% thumbnail f.profile.photo 180x180 %}" class="user-detail">
    </li>
    {% endif %}
    {% endfor %}
</ul>
