{% extends "base.html" %}
{% load blog_tags %}
{% load static %}
{% load my_filters_and_tags %}
{% block title %}My Blog{% endblock %}
{% block content %}
{% load static %}
<style>
.m1{
    width:100%;
}
.db {
    padding-top: 16px;
}
</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
{% comment %} side bar {% endcomment %}
    {% include 'account/sidebar.html'%}
{% comment %} end side bar {% endcomment %}
        <!-- Page Content  -->
<div class="container db">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'posts:post_list' %}?search={{ search }}&column={{ column }}&tag_slug={{ tag }}">
                    Latest Post
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'posts:post_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag_slug={{ tag }}">
                    Hottest Post
                </a>
            </li>
        </ol>
    </nav>

    {% comment %} <!-- search bar -->
    <div class="row m1">
        <div class="col-auto mr-auto">
            <form class="form-inline" >
                <label class="sr-only">content</label>
                <input type="text" 
                    class="form-control mb-2 mr-sm-2" 
                    name="search" 
                    placeholder="Search articles..." 
                    required
                >
            </form>
        </div>
    </div> {% endcomment %}

    <!-- Search hints -->
    {% if search %}
        {% if articles %}
         <h4><span style="color: red">"{{ search }}"</span>The search results are as follows:</h4>
            <hr>        
        {% else %}
            <h4>No<span style="color: red">"{{ search }}"</span>Related articles.</h4>
            <hr>
        {% endif %}
    {% endif %}
        
    <!-- List loop -->
    {% comment %} <div class="row mt-2">
        {% for article in articles %}
            
            {% if article.avatar %}
                <div class="col-3">
                <a href="{% url 'posts:post_detail' article.id %}">
                    <img src="{{ article.avatar.url }}" 
                         alt="avatar" 
                         style="max-width:100%; border-radius:20px; height: max-content; max-height: 160px;width:max-content;"
                    >
                </a>
                </div>
            {% else %}
                <div class="col-3">
                    <img src="{% static 'img/showcase.jpg'%}" alt="avatar" 
                         style="max-width:100%; border-radius: 20px;height: max-content; max-height: 160px;width:max-content;" />
                </div>
            {% endif %}
            

            <div class="col">
                <!-- 标签 -->
                <span>
                    {% for tag in article.tags.all %}
                        <a href="{% url 'posts:post_list' %}?tag={{ tag }}"
                           class="badge badge-secondary" 
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>

                <!-- title -->
                <h4>
                    <b>
            {% if user.is_authenticated %}
                <form action="/posts/history" method="POST">{% csrf_token %}
                    <input type="hidden" name="post_id" value="{{article.id}}">
                        <a href="{% url 'posts:post_detail' article.id %}"
                           style="color: black;">
                            <button class="btn btn-outline-danger">{{ article.title }} &rarr;</button>
                        </a>
                </form>
            {% else %}
                <a href="{% url 'posts:post_detail' article.id %}"
                           style="color: black;">
                            <button class="btn btn-outline-danger">{{ article.title }} &rarr;</button>
                        </a>
            {% endif %}
                    </b>
                </h4>
                <!--Summary-->
                <div>
                    <p style="color:gray;">
                        {{ article.body|slice:'100' }}...
                    </p>
                </div>
                <!-- Footnote -->
                <p>
                    <!-- extra information -->
                    <span>
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-clock" style="color: pink;"></i>
                        <!--
                        {{ article.created|date:'Y-m-d' }}
                        -->
                        {{ article.created|date:'Y-m-d' }}
                    </span>
                </p>
            </div>
            <hr style="width: 100%;"/>
        {% endfor %}
    </div> {% endcomment %}
    <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
       <br> 
        <!-- Blog Post -->
        <div class="card mb-4">
          {% for article in articles %}
            {% if article.avatar %}
                <a href="{% url   'posts:post_detail' article.id %}">
                <img class="card-img-top" src="{{ article.avatar.url }}" alt="Card image cap">
                </a>
            {% else %}
                <a href="{% url   'posts:post_detail' article.id %}">
                <img class="card-img-top" src="{% static 'img/showcase.jpg'%}" alt="Card image cap">
                </a>
            {% endif %}
          <div class="card-body">
            <span>
                    {% for tag in article.tags.all %}
                        <a href="{% url 'posts:post_list' %}?tag={{ tag }}"
                           class="badge badge-secondary" 
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>
            <h2 class="card-title">
                    {% if user.is_authenticated %}
                <form action="/posts/history" method="POST">{% csrf_token %}
                    <input type="hidden" name="post_id" value="{{article.id}}">
                        <a href="{% url 'posts:post_detail' article.id %}"
                           style="color: black;">
                            <button class="btn btn-outline-danger">{{ article.title }}</button>
                        </a>
                </form>
            {% else %}
                <a href="{% url 'posts:post_detail' article.id %}"
                           style="color: black;">
                            <button class="btn btn-outline-danger">{{ article.title }}</button>
                        </a>
            {% endif %}
            </h2>
            <p class="card-text"style="color:gray;">
            {{ips}}
                        {{ article.body|slice:'300' }}...
            </p>
            {% if user.is_authenticated %}
                <form action="/posts/history" method="POST">{% csrf_token %}
                    <input type="hidden" name="post_id" value="{{article.id}}">
                        <a href="{% url 'posts:post_detail' article.id %}"
                           style="color: black;">
                            <button class="btn btn-outline-danger">Read More &rarr;</button>
                        </a>
                </form>
            {% else %}
                <a href="{% url 'posts:post_detail' article.id %}"
                           style="color: black;">
                            <button class="btn btn-outline-danger">Read More &rarr;</button>
                        </a>
            {% endif %}
          </div>
          <div class="card-footer text-muted">
            Posted by
            <a href="{{ user.get_absolute_url }}">{{article.author}}</a>
            <div style="float:right;">
                <p>
                    <!-- extra information -->
                    <span>
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-clock" style="color: pink;"></i>
                        <!--
                        {{ article.created|date:'Y-m-d' }}
                        -->
                        {{ article.created|date:'Y-m-d' }}
                    </span>
                </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
             <form class="form-inline">
                <input type="text" class="form-control" id="txtSearch"name="search" 
                    placeholder="Search articles..." 
                    required>
                <span class="input-group-append">
                    <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </form>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for a in filter_category %}
                    <li>
                        <a href="{% url 'posts:category' a %}">{{a}}</a>
                    </li>
                  {% endfor %}
                  
                </ul>
              </div>
              
            </div>
          </div>
        </div>

        <!-- Side Widget -->
       
        <div class="card my-4">
          <h5 class="card-header">Trending Posts</h5>
          <div class="card-body">
            <ul class="list-styled mb-0">
                 {% for trend in trenddouble %}
                    <li>
                        <a href="{% url 'posts:post_trend' trend %}">{{trend}}</a>
                        
                    </li>
                    {% comment %} {% url 'posts:post_detail' article.id %} {% endcomment %}
                {% endfor %}
          </div>
        </div>
        <div class="card my-4">
          <h5 class="card-header">Top Author Post</h5>
          <div class="card-body">
            <ul class="list-styled mb-0">
            {% for top in authorPost%}
                    <li>
                        <p>{{top.title}}</p>                        
                    </li>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

    <!-- 页码导航 -->
    <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
                <!-- 如果不是第一页，则显示上翻按钮 -->
                {% if articles.has_previous %}
                    <a href="?page=1" class="btn btn-success">
                        &laquo; 1
                    </a>
                    <span>...</span>
                    <a href="?page={{ articles.previous_page_number }}" 
                       class="btn btn-secondary"
                    >
                        {{ articles.previous_page_number }}
                    </a>
                {% endif %}

                <!-- 当前页面 -->
                <span class="current btn btn-danger btn-lg">
                    {{ articles.number }}
                </span>

                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}"
                       class="btn btn-secondary"
                    >
                        {{ articles.next_page_number }}
                    </a>
                    <span>...</span>
                    <a href="?page={{ articles.paginator.num_pages }}"
                       class="btn btn-success"
                    >
                        {{ articles.paginator.num_pages }} &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    </div>
   

</div>

<script>
{% comment %} $(document).ready(function(){ 
            $("#txtSearch").autocomplete({
                source: "/ajax_calls/search/",
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                }
              });
        }); {% endcomment %}
        jQuery(function() {
    $("#txtSearch").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'posts:ajax_autocomplete' %}",
            data: {
              'search': value 
            },
            dataType: 'json',
            success: function (data) {
                list = data.list;
                $("#txtSearch").autocomplete({
                source: list,
                minLength: 10 
                });       
            }
        });        
    });
  });
</script>

{% endblock %}

