{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% comment %} side bar {% endcomment %}
    {% include 'account/sidebar.html'%}
{% comment %} end side bar {% endcomment %}
<div id="content" class="p-4 p-md-5 pt-5">
  <h2>Timeline</h2>
  <div class="container">
    <div class="col-lg-12">
     <div class="row mt-2">
        {% for story in stories %}
            
            {% if story.avatar %}
                <div class="col-3">
                    <img src="{{ story.avatar.url }}" 
                         alt="avatar" 
                         style="max-width:100%; border-radius: 20px;height: max-content; max-height: 160px;width:max-content;"
                    >
                </div>
            {% endif %}

            <div class="col">
                

                <!-- 标签 -->
                <span>
                    {% for tag in story.tags.all %}
                        <a href="{% url 'posts:post_list' %}?tag={{ tag }}"
                           class="badge badge-secondary" 
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>

                <!-- title -->
                <h4>
                    <b>
                        <a href="{% url 'posts:post_detail' story.id %}"
                           style="color: black;" 
                        >
                            {{ story.title }}
                        </a>
                    </b>
                </h4>
                <!--Summary-->
                <div>
                    <p style="color: gray;">
                        {{ story.body|slice:'100' }}...
                    </p>
                </div>
                <!-- Footnote -->
                <p>
                    <!-- extra information -->
                    <span>
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ story.total_views }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        {{ story.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-clock" style="color: pink;"></i>
                        <!--
                        {{ article.created|date:'Y-m-d' }}
                        -->
                        {{ story.created|date:'Y-m-d' }}
                    </span>
                </p>
            </div>
            <hr style="width: 100%;"/>
        {% endfor %}
    </div>

    </div>

    </diV>

    <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
                <!-- 如果不是第一页，则显示上翻按钮 -->
                {% if stories.has_previous %}
                    <a href="?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" class="btn btn-success">
                        &laquo; 1
                    </a>
                    <span>...</span>
                    <a href="?page={{ stories.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" 
                       class="btn btn-secondary"
                    >
                        {{ stories.previous_page_number }}
                    </a>
                {% endif %}

                <!-- 当前页面 -->
                <span class="current btn btn-danger btn-lg">
                    {{ stories.number }}
                </span>

                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if stories.has_next %}
                    <a href="?page={{ stories.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-secondary"
                    >
                        {{ stories.next_page_number }}
                    </a>
                    <span>...</span>
                    <a href="?page={{ stories.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-success"
                    >
                        {{ stories.paginator.num_pages }} &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    </div>



</div>
{% endblock %}
