{% extends "base.html" %}
{% load widget_tweaks %}

{% load  static %}
{% block title %}Upload Post{% endblock %}

{% block content %}
{% if user.is_authenticated %}
      {% comment %} side bar {% endcomment %}
          {% include 'account/sidebar.html'%}
      {% comment %} end side bar {% endcomment %}
      
      <div id="content" class="p-4 p-md-5 pt-5">
      
        <h2>Add a new post</h2> 
        <div class="invalid_feedback invalid-feedback" style="display:none">
        </div>
         <p class="text-sm text-success titleSuccessOutput"></p>
     
                    <form enctype="multipart/form-data"id="id_ajax_upload_form" method="POST"novalidate="">
                        {% csrf_token %}
                        {{form.media}}
                         {{ form.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger add-modal-close" data-bs-dismiss="modal">close</button>
                            <button type="submit" id="add-btn" class="btn btn-success submit_btn">+ add</button>
                        </div>
                    </form>
        </div>
  {% else %}
  <h1> Please Login...</h1>
{% endif %}

<script>
const titleField = document.querySelector("#id_title");
const feedBackArea = document.querySelector(".invalid_feedback");
const titleSuccessOutput = document.querySelector(".titleSuccessOutput");
const submitBtn = document.querySelector(".submit_btn");
titleField.addEventListener("keyup", (e) => {
            const titleVal = e.target.value;

            titleSuccessOutput.style.display = "block";

            titleSuccessOutput.textContent = `Checking  ${titleVal}`;

            titleField.classList.remove("is-invalid");
            feedBackArea.style.display = "none";

            if (titleVal.length > 0) {
                fetch("/posts/validate-post", {
                body: JSON.stringify({ title: titleVal }),
                method: "POST",
                })
                .then((res) => res.json())
                .then((data) => {
                    titleSuccessOutput.style.display = "none";
                    if (data.title_error) {
                    titleField.classList.add("is-invalid");
                    feedBackArea.style.display = "block";
                    feedBackArea.innerHTML = `<p>${data.title_error}</p>`;
                    submitBtn.disabled = true;
                    } else {
                    submitBtn.removeAttribute("disabled");
                    }
                });
            }
            });

$('#id_ajax_upload_form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        var content = CKEDITOR.instances['id_body'].getData(); 
        formData.append('body',content)
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    $form[0].reset();
                    alert(response.message)
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

</script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock %}



