{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% comment %} side bar {% endcomment %}
    {% include 'account/sidebar.html'%}
{% comment %} end side bar {% endcomment %}
<div class="container">

<div id="row" class="p-4 p-md-5 pt-5">
<h1>{{ user.get_full_name }}</h1>

  <div class="profile-info">
    <img src="{% thumbnail user.profile.photo 180x180 %}" class="user-detail">
  </div>
  <hr style="border-top: 1px solid red;">
  <br>
  {% with total_followers=user.followers.count %}
        <span class="count">
            <span class="total">{{ total_followers }}</span>
            Follower{{ total_followers|pluralize }}
        </span>
  {% endwith %}
  {% with total_following=user.following.count %}
        <span class="count">
            <span class="total">{{ total_following }}</span>
            Following{{ total_following|pluralize }}
        </span>
  {% endwith %}
    <a href="{% url 'posts:user_follow' %}" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
      {% if request.user not in user.followers.all %}
        Follow
      {% else %}
        Unfollow
      {% endif %}
    </a>
    
  
  <br>
  <br>
  <br>
  </hr>
 
</div>
    <div class="col-lg-12">
        <div class="row mt-2">
        {% for story in stories %}
            
            {% if story.avatar %}
                <div class="col-3">
                    <img src="{{ story.avatar.url }}" 
                         alt="avatar" 
                         style="max-width:100%; border-radius: 20px"
                    >
                </div>
            {% endif %}

            <div class="col">
                

                <!-- 标签 -->
                <span>
                    {% for tag in story.tags.all %}
                        <a href="{% url 'posts:post_list' %}?tag={{ tag }}"
                           class="badge badge-secondary" 
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>

                <!-- title -->
                <h4>
                    <b>
                        <a href="{% url 'posts:post_detail' story.id %}"
                           style="color: black;" 
                        >
                            {{ post.title }}
                        </a>
                    </b>
                </h4>
                <!--Summary-->
                <div>
                    <p style="color: gray;">
                        {{ story.body|slice:'100' }}...
                    </p>
                </div>
                <!-- Footnote -->
                <p>
                    <!-- extra information -->
                    <span>
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ story.total_views }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        {{ story.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-clock" style="color: pink;"></i>
                        <!--
                        {{ article.created|date:'Y-m-d' }}
                        -->
                        {{ story.created|date:'Y-m-d' }}
                    </span>
                </p>
            </div>
            <hr style="width: 100%;"/>
        {% endfor %}
    </div>

    </div>
</div>


{% endblock %}

{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "posts:user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');

          // toggle data-action
          $('a.follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
          // toggle link text
          $('a.follow').text(
            previous_action == 'follow' ? 'Unfollow' : 'Follow');

          // update total followers
          var previous_followers = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_action == 'follow' ?
          previous_followers + 1 : previous_followers - 1);
        }
      }
    );
  });
{% endblock %}