{% extends "base.html" %}
{% load thumbnail %}
{% load frienshiptag %}
{% load static %}
<link href="{% static "css/profile.css" %}" rel="stylesheet">
{% block title %}User Details{% endblock %}
{% block content %}
<style>
.m-t-5{
    margin-top: 5px;   
}
.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}
.card .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
}
.profile-page .profile-header {
    position: relative
}

.profile-page .profile-header .profile-image img {
    border-radius: 50%;
    width: 140px;
    border: 3px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.profile-page .profile-header .social-icon a {
    margin: 0 5px
}

.profile-page .profile-sub-header {
    min-height: 60px;
    width: 100%
}

.profile-page .profile-sub-header ul.box-list {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
    background: #eee
}

.profile-page .profile-sub-header ul.box-list li {
    border-right: 1px solid #e0e0e0;
    display: table-cell;
    list-style: none
}

.profile-page .profile-sub-header ul.box-list li:last-child {
    border-right: none
}

.profile-page .profile-sub-header ul.box-list li a {
    display: block;
    padding: 15px 0;
    color: #424242
}
.followss .blockss{
  display: inline-block;
  margin-top:-12px
}
</style>
{% comment %} side bar {% endcomment %}
    {% include 'account/sidebar.html'%}
{% comment %} end side bar {% endcomment %}
<div id="content" class="p-4 p-md-5 pt-5">
  <div class="container profile-page">
    <div class="row">
        <div class="col-xl-8 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                
                  {% for i in profile %}
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="{% thumbnail i.photo 180x180 %}" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12">
                            <h4 class="m-t-0 m-b-0">{{ user.get_full_name }}
                            <a href="{% url 'posts:user_follow' %}" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button followss">
                              {% if request.user not in user.followers.all %}
                                  Follow
                              {% else %}
                                  Unfollow
                              {% endif %}
                              </a>
                              <a href="{% url 'posts:block_unblock' %}" data-id="{{ user.username }}"data-action="{% if request.user.id in user.blockees.all %}un{% endif %}block" class="block button bl" id="block">
                              {% if request.user.id not in user.blockees.all %}
                                Block
                              {% else %}
                                Unblock
                              {% endif %}
                              </a>
                              
                            {% comment %} <a href="{% url 'posts:block_add' user.username %}">Block</a> {% endcomment %}
                            </h4>
                            <h4 class="m-t-0 m-b-0">
                          {% if user.id == request.user.id %}
                            <a href="{% url "edit" %}">
                            Edit Profile
                            </a>
                          {% endif %}
                            </h4>
                            <span class="job_post">Ui UX Designer</span>
                            <p>{{ i.bio |slice:'60'}}</p>
                              {% comment %} <div id='jsondata'></div> {% endcomment %}
                            <div>
                                <button class="btn btn-primary btn-round">{{total_post}}</button>
                                {% comment %} <button class="btn btn-primary btn-round btn-simple">Message</button> {% endcomment %}
                                {% with total_followers=user.followers.count %}
                                  <span class="counts">
                                  <span class="profile-stat-count total">{{ total_followers }}</span>
                                  <a href="{% url 'posts:friendship_followers' user.username%}">Follower{{ total_followers|pluralize }}</a>
                                  </span> 
                                {% endwith %}
                                {% with total_following=user.following.count %}
                                  <span class="counts">
                                  <span class="profile-stat-count total1">{{ total_following }}</span>
                                  <a href="{% url 'posts:friendship_following' user.username%}">Following{{ total_following|pluralize }}</a>
                                  </span>
                                {% endwith %}
                            </div>
                            <div style="text-align:center;">
                              
                            </div>
                            <p class="social-icon m-t-5 m-b-0">
                                <a title="Twitter" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                <a title="Facebook" href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                <a title="Google-plus" href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                <a title="Behance" href="javascript:void(0);"><i class="fa fa-behance"></i></a>
                                <a title="Instagram" href="javascript:void(0);"><i class="fa fa-instagram "></i></a>
                            </p>
                        </div>                
                    </div>
                </div> 
                {% endfor %}                   
            </div>
        </div>
      </div>
    </div>  
  
    <hr style="width:100%; color:red;"/>
  <div class="container">
    <div class="col-lg-12">
     <div class="row mt-2">
        {% for story in stories %}
            
            {% if story.avatar %}
                <div class="col-3">
                    <img src="{{ story.avatar.url }}" 
                         alt="avatar" 
                         style="max-width:100%; border-radius: 20px"
                    >
                </div>
            {% endif %}

            <div class="col">
                

                <!-- 标签 -->
                <span>
                    {% for tag in story.tags.all %}
                        <a href="{% url 'posts:post_list' %}?tag={{ tag }}"
                           class="badge badge-secondary" 
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>

                <!-- title -->
                <h4>
                    <b>
                        <a href="{% url 'posts:post_detail' story.id %}"
                           style="color: black;" 
                        >
                            {{ story.title }}
                        </a>
                    </b>
                </h4>
                <!--Summary-->
                <div>
                    <p style="color: gray;">
                        {{ story.body|slice:'100' }}...
                    </p>
                </div>
                <!-- Footnote -->
                <p>
                    <!-- extra information -->
                    <span>
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ story.total_views }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        {{ story.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-clock" style="color: pink;"></i>
                        {{ story.created|date:'Y-m-d' }}
                    </span>
                </p>
            </div>
            <hr style="width: 100%;"/>
        {% endfor %}
    </div>

    </div>

    </diV>

</div>
{% comment %}--------------------- follower model--------------------------------- {% endcomment %}
<!-- Modal -->
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% comment %} {% for follow in user.followers.all %} 
              <a href="{% url 'posts:user_detail' follow.username %}" class="title"> {{ follow.username }}
             </a>
              {{follow.first_name}}
          {% endfor %} {% endcomment %}
          {% comment %} {% include 'account/follower_list.html'%} {% endcomment %}
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% comment %} -----------------end follower model--------------------------------- {% endcomment %}

{% comment %} ------------------------following model -------------------------- {% endcomment %}
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% for follow in user.following.all %} 
             <a href="{% url 'posts:user_detail' follow.username %}" class="title"> {{ follow.username }}
             </a>
              {{follow.first_name}}
          {% endfor %}
          {% for photo in user.profile.all %}
              <img src={{photo}} />
          {% endfor %}
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% comment %} ------------------------end following model ---------------------- {% endcomment %}

{% endblock %}

{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "posts:user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
        
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');

          // toggle data-action
          $('a.follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
          // toggle link text
          $('a.follow').text(
            previous_action == 'follow' ? 'Unfollow' : 'Follow');

          // update total followers
          var previous_followers = parseInt(
            $('span.counts .total').text());
          $('span.counts .total').text(previous_action == 'follow' ?
          previous_followers + 1 : previous_followers - 1);

        //update total following
        var previous_following = parseInt(
            $('span.count1 .total1').text());
          $('span.count1 .total1').text(previous_action == 'follow' ?
          previous_following + 1 : previous_following - 1);

        }
          {% comment %} var div = document.getElementById('jsondata');
          div.innerHTML = div.innerHTML + data.message; {% endcomment %}
          alert(data.message)
      }
    );
  });
  {% comment %} block {% endcomment %}
  $('#block').click(function(a){
    a.preventDefault();
    $.post('{% url "posts:block_unblock" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_actions = $('#block').data('action');

          // toggle data-action
          $('#block').data('action',
            previous_actions == 'block' ? 'unblock' : 'block');
          // toggle link text
          $('#block').text(
            previous_actions == 'block' ? 'Unblock' : 'Block');  
           $("#block").hide();
        }
       alert(data.message)

          {% comment %} var div = document.getElementById('jsondata');
          div.innerHTML = div.innerHTML + data.message; {% endcomment %}
        

      }
    );
  });
{% endblock %}