{% extends "base.html" %}
{% load thumbnail %}
{% block title %}User{% endblock %}

{% block content %}
{% comment %} side bar {% endcomment %}
    {% include 'account/sidebar.html'%}
{% comment %} end side bar {% endcomment %}
<div id="content" class="p-4 p-md-5 pt-5">
<h1>People</h1>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        
    <div class="d-flex justify-content-center h-100">
			<div class="image_outer_container">
				  <div class="image_inner_container">
              <a href="{{ user.get_absolute_url }}">
                 <img src="{% thumbnail user.profile.photo 180x180 %}">
              </a>
            <div class="info">
                <a href="{{ user.get_absolute_url }}" class="title">
                  {{ user.get_full_name }}
                </a>
            </div>
				</div>
			</div>
		</div>
        
      </div>
    {% endfor %}
</div>
</div>
{% endblock %}